body{
  font-family:  "Helvetica Neue",Arial,Helvetica,sans-serif;
  text-align: left;
  margin:0 auto;
  width: 800px;
  max-width: 96%;
}
h1,h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #BDDEFF;
}
